<ion-content color="primary">
  <div class="login-container ion-margin">
    <h2 class="title ion-padding-vertical">Sign Up</h2>

    <ion-button type="button" class="ion-padding-vertical" expand="block" routerLink="/login-email">
      Sign up with email
    </ion-button>

    <div class="footer-area">
      <p class="divider">or</p>
    </div>

    <ion-button type="button" class="ion-padding-vertical" expand="block" routerLink="/login-mobile">
      Sign up with phone number
    </ion-button>

    <div class="footer-area ion-text-center">
      <p class="signup-text ion-padding-top">Already have an account? <b routerLink="/login">Sign in</b></p>
    </div>

  </div>
</ion-content>
