ion-content::part(scroll) {
  z-index: 0;
}

.header-cont {
  .header-cont-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 0;
    }
  }
}

.header-cont:after {
  height: 140px;
}

.header-logo {
  position: relative;
  top: -132px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 18%);

  ion-icon {
    font-size: 36px;
  }
}
