<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon src="assets/icon/menu-icon.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-icon src="assets/icon/location-icon.svg"></ion-icon>
      <ng-container *ngIf="emergency.currentLocation; else noLoc">
        {{emergency.currentLocation}}
        <!-- <ion-icon src="assets/icon/chevron-down-light.svg"></ion-icon> -->
      </ng-container>
      <ng-template #noLoc>
        No Location...
      </ng-template>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="../notification">
        <ion-icon slot="icon-only" src="assets/icon/bell-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-cont">
    <div class="header-cont-area ion-padding">
      <h2 class="ion-padding-vertical">
        <ion-icon class="ion-padding-end" slot="icon-only" src="assets/icon/chevron-left.svg" routerLink="../"></ion-icon>
        Loads
      </h2>
      <ng-container *ngIf="isEmLoading; else emLoad">
        <ion-skeleton-text class="emload-skel" [animated]="true"></ion-skeleton-text>
      </ng-container>
      <ng-template #emLoad>
        <ion-button class="emergency-btn" shape="round" [disabled]="!api.user || isEmLoading"
        (click)="(!api.isTrial && api.user?.role === '0' &&
        (api.subscriptionStatus === 'inactive' || api.subscriptionStatus === 'past_due')) ?
        api.showPlanUpgrade() : emergency.checkPermission()">
          Emergency Load
          <ion-icon slot="end" src="assets/icon/emergency-icon.svg"></ion-icon>
        </ion-button>
      </ng-template>
    </div>
    <div class="header-cont-area location-cont ion-padding-horizontal">
      <div class="source">
        <ion-skeleton-text *ngIf="isLoading; else showFromState" [animated]="true" style="width: 100px;"></ion-skeleton-text>
        <ng-template #showFromState>
          <ion-icon slot="icon-only" src="assets/icon/location-marker.svg"></ion-icon>
          <p>{{location.fromState}}</p>
        </ng-template>
      </div>
      <ion-icon slot="icon-only" src="assets/icon/chevron-right.svg"></ion-icon>
      <div class="destination">
        <ion-skeleton-text *ngIf="isLoading; else showToState" [animated]="true" style="width: 100px;"></ion-skeleton-text>
        <ng-template #showToState>
          <ion-icon slot="icon-only" src="assets/icon/location-marker.svg"></ion-icon>
          <p>{{location.toState}}</p>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="header-logo">
    <ion-icon slot="icon-only" src="assets/icon/truck-icon.svg"></ion-icon>
  </div>

  <div class="loads-list ion-padding">
    <ion-card mode="md" *ngIf="isLoading; else loadsList">
      <ion-item class="ion-no-padding">
        <ion-skeleton-text [animated]="true" style="width: 100px;"></ion-skeleton-text>
      </ion-item>

      <div class="card-content">
        <div class="loc-content">
          <p>
            <ion-skeleton-text [animated]="true" style="width: 200px;"></ion-skeleton-text>
            <br>
            <ion-skeleton-text [animated]="true" style="width: 150px;"></ion-skeleton-text>
          </p>
        </div>

        <ion-skeleton-text [animated]="true" style="width: 125px;"></ion-skeleton-text>
        <div class="load-type">
          <ion-skeleton-text [animated]="true" style="width: 120px;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 130px; height: 30px; border-radius: 30px"></ion-skeleton-text>
        </div>
      </div>
    </ion-card>

    <ng-template #loadsList>
      <ng-container *ngIf="loads.length; else noLoads">
        <ion-card *ngFor="let load of loads" mode="md">
          <ion-item class="ion-no-padding">
            <ion-label>{{load.title}}</ion-label>
            <ion-icon *ngIf="load.emergency" slot="end" src="assets/icon/emergency-icon.svg"></ion-icon>
          </ion-item>

          <div class="card-content">
            <div class="loc-content">
              <ion-icon slot="icon-only" src="assets/icon/location-red.svg"></ion-icon>
              <p>
                <span>{{load.to.city}}, {{load.to.state}}</span>
                <br>
                {{load.from.pickupdate}}
              </p>
            </div>

            <p class="ion-no-margin load-weight"><span>Weight : </span>{{load.weight}} {{load.weight_type}}</p>
            <div class="load-type">
              <p class="load-weight"><span>Type : </span>{{load.type}}</p>
              <div *ngIf="!api.isTrial; else bookNow">
                <ion-button shape="round" *ngIf="level !== '2'" fill="outline" (click)="plan()" color="danger">Upgrade Plan</ion-button>
                <ion-button shape="round" *ngIf="level === '2'" fill="outline" color="success"
                  (click)="load.contactno.length ? callLoad(load.contactno) : ''">Book Now</ion-button>
              </div>
              <ng-template #bookNow>
                <ion-button shape="round" fill="outline" color="success" (click)="load.contactno.length ? callLoad(load.contactno) : ''">Book Now</ion-button>
              </ng-template>
            </div>
            <div *ngIf="level === '2'" class="mcNo ion-margin-vertical">
              <p class="load-weight"><span>MC No : </span>{{load.mcNo}}</p>
              <p class="load-weight"><span>Price : </span>&#65284;{{load.price}}</p>
              <a *ngIf="load.email.length" [href]="'mailto:' + load.email">{{load.email}}</a>
            </div>
          </div>
        </ion-card>
      </ng-container>

      <ng-template #noLoads>
        <h2 class="ion-text-center">No loads available</h2>
      </ng-template>
    </ng-template>
  </div>
</ion-content>
