<ion-content color="primary">
  <div class="section1" *ngIf="section1">
  <div class="login-container ion-margin">
    <h2 class="title ion-padding-vertical">Sign In</h2>
    <form [formGroup]="sendOtp" (ngSubmit)="submitMobile()">
      <ion-item lines="none">
        <ion-label class="ion-padding-bottom" position="stacked" color="light">Phone Number</ion-label>
        <ion-input type="number" placeholder="000000" formControlName="contact">
          <ion-icon class="flagIcon" slot="start" src="assets/icon/flag.svg"></ion-icon>
          <p>{{countryCode}}</p>
        </ion-input>
      </ion-item>
      <ion-button type="submit" class="ion-padding-vertical" expand="block" [disabled]="sendOtp.invalid || loading">
       <span *ngIf="!loading"> Get OTP </span>
       <ion-spinner *ngIf="loading" color="primary"></ion-spinner>
      </ion-button>
    </form>
  </div>
  </div>


  <div class="section2" *ngIf="!section1">
    <div class="login-container ion-margin">
      <h2 class="title ion-padding-vertical">
        <ion-buttons slot="start">
        <button ion-button icon-only class="backButn" (click)="backSignup()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      </h2>
      <div class="textInfoSection ion-padding">
        <p>
          <ion-text color="light">
            Enter the 4-digit code sent to you at
          </ion-text>
        </p>
        <p>
          <ion-text color="light">
          <b *ngIf="mobile">{{mobile}}</b>
          </ion-text>
        </p>
      </div>
      <form [formGroup]="otpForm" (ngSubmit)="submitOtp()" (keyup.enter)="submitOtp(true)">
        <div class="ion-padding">
          <ng-otp-input (onInputChange)="onOtpChange($event)" class="otpStyle"  [config]="{length:4,allowNumbersOnly:true}"></ng-otp-input>
        </div>
        <ion-button type="submit" class="ion-padding-vertical" expand="block" [disabled]="otpForm.invalid || loading2">
         <span *ngIf="!loading2"> Verify OTP </span>
         <ion-spinner *ngIf="loading2" color="primary"></ion-spinner>
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
