<ion-content color="primary">
  <div class="login-container ion-margin" *ngIf="step===1">
    <h2 class="title ion-padding-vertical">Reset Password</h2>
    <form [formGroup]="logForm" (ngSubmit)="sendOtp()">
      <ion-item lines="none">
        <ion-label class="ion-padding-bottom" position="stacked" color="light">Email</ion-label>
        <ion-input type="email" placeholder="johndoe@gmail.com" formControlName="email">
          <ion-icon slot="start" src="assets/icon/email.svg"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="validation-error" *ngIf="(logForm.get('email').touched || logForm.get('email').dirty) &&
        logForm.get('email').hasError('required')">
          Please enter email
      </div>
      <div class="validation-error" *ngIf="(logForm.get('email').touched || logForm.get('email').dirty) &&
        logForm.get('email').hasError('email')">
          Please enter valid email
      </div>

      <ion-button type="submit" class="ion-padding-vertical" expand="block" [disabled]="logForm.invalid || loading">
      <span *ngIf="!loading">Verify email</span>
      <ion-spinner *ngIf="loading" color="primary"></ion-spinner>
      </ion-button>
    </form>

    <div class="footer-area ion-text-center">
      <p class="login-text" routerLink="/login-mobile">Login with phone number</p>
      <p class="divider">or</p>
      <p class="signup-text">Don't have an account? <b routerLink="/login-opt">Sign up</b></p>
    </div>

  </div>

  <div class="login-container ion-margin" *ngIf="step===2">
    <h2 class="title ion-padding-vertical">
      <ion-buttons slot="start">
      <button ion-button icon-only class="backButn" (click)="step=1; timer=30;">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    </h2>
    <div class="textInfoSection ion-padding">
      <p>
        <ion-text color="light">
          Enter the 4-digit code sent to you at
        </ion-text>
      </p>
      <p>
        <ion-text color="light">
        <b>{{logForm.get('email').value}}</b>
        <br><br>
        <u (click)="step=1; timer=30;">Change email</u>
        </ion-text>
      </p>
    </div>
    <form (ngSubmit)="verifyOtp()" (keyup.enter)="verifyOtp(true)">
      <div class="ion-padding">
        <ng-otp-input (onInputChange)="onOtpChange($event)" class="otpStyle" [config]="{length:4, allowNumbersOnly:true}"></ng-otp-input>
      </div>

      <p class="ion-padding" *ngIf="timer > 0">Resend code in {{timer}} seconds</p>
      <ion-button class="ion-padding-vertical" *ngIf="timer===0" (click)="sendOtp(); timer=30;">
        Resend OTP
      </ion-button>

      <ion-button type="submit" class="ion-padding-vertical" expand="block" [disabled]="!otp || loading">
       <span *ngIf="!loading"> Verify OTP </span>
       <ion-spinner *ngIf="loading" color="primary"></ion-spinner>
      </ion-button>
    </form>
  </div>

  <div class="login-container ion-margin" *ngIf="step===3">
    <h2 class="title ion-padding-vertical">Create New Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" (keyup.enter)="resetPassword(true)">
      <ion-item class="password-cont" lines="none">
        <ion-label class="ion-padding-bottom" position="stacked" color="light">Password</ion-label>
        <ion-input [type]="showPass1 ? 'text' : 'password'" placeholder="**********" formControlName="password">
          <ion-icon slot="start" src="assets/icon/password-lock.svg"></ion-icon>
          <ion-icon *ngIf="showPass1" slot="start" name="eye" (click)="showPass1=false;"></ion-icon>
          <ion-icon *ngIf="!showPass1" slot="start" name="eye-off" (click)="showPass1=true;"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="validation-error" *ngIf="(passwordForm.get('password').touched || passwordForm.get('password').dirty) &&
        passwordForm.get('password').hasError('required')">
          Please enter password
      </div>
      <div class="validation-error" *ngIf="(passwordForm.get('password').touched || passwordForm.get('password').dirty) &&
        passwordForm.get('password').hasError('minlength')">
          Password should be minimum 8 characters
      </div>

      <ion-item class="password-cont" lines="none">
        <ion-label class="ion-padding-bottom" position="stacked" color="light">Confirm password</ion-label>
        <ion-input [type]="showPass2 ? 'text' : 'password'" placeholder="**********" formControlName="cnfmPass">
          <ion-icon slot="start" src="assets/icon/password-lock.svg"></ion-icon>
          <ion-icon *ngIf="showPass2" slot="start" name="eye" (click)="showPass2=false;"></ion-icon>
          <ion-icon *ngIf="!showPass2" slot="start" name="eye-off" (click)="showPass2=true;"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="validation-error" *ngIf="(passwordForm.get('cnfmPass').touched || passwordForm.get('cnfmPass').dirty) &&
        passwordForm.errors?.['passwordMismatch']">
          Passwords do not match
      </div>

      <ion-button type="submit" class="ion-padding-vertical" expand="block" [disabled]="passwordForm.invalid || loading">
      <span *ngIf="!loading">Reset password</span>
      <ion-spinner *ngIf="loading" color="primary"></ion-spinner>
      </ion-button>
    </form>
  </div>
</ion-content>
