<!--Modal for Pickup State-->
<ion-modal class="loc-select" [isOpen]="openLocation" [initialBreakpoint]="modalInitialBr" [breakpoints]="[0.50, 1]"
 [backdropDismiss]="false" [handle]="false">
  <ng-template>
  <form [formGroup]="loadFilter">
    <div class="modal-main-cont" [ngClass]="fromSelected ? 'from-loc-selected' : ''">
      <!--From State/City-->
      <ion-item class="modal-header-cont ion-no-padding" lines="none">
        <ion-label class="modal-title">From</ion-label>
        <ion-icon class="close-btn hardware-tap" slot="end" src="assets/icon/close-icon.svg" (click)="closeModal(false)">
        </ion-icon>
      </ion-item>

      <ion-item class="ion-no-padding" lines="none" mode="ios"
        (click)="selectedState=(selectedPickState ? selectedPickState : null); openState=true; locMode='pickState'">
        <ion-label position="stacked">Select State</ion-label>
        <ion-input placeholder="Select State" readonly="true" [value]="selectedPickState">
          <ion-icon slot="end" src="assets/icon/chevron-down.svg"></ion-icon>
        </ion-input>
      </ion-item>

      <div class="dead-location">
        <ion-item class="ion-no-padding" lines="none" mode="ios" (click)="filterCity('pickCity')">
          <ion-label position="stacked">Select City</ion-label>
          <ion-input placeholder="Select City" readonly="true" [value]="selectedPickCities">
            <ion-icon slot="end" src="assets/icon/chevron-down.svg"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none" mode="ios">
          <ion-label position="stacked">DH-O</ion-label>
          <ion-input type="number" formControlName="fromDeadMiles"></ion-input>
        </ion-item>
      </div>

      <!--To State/City-->
      <ng-container *ngIf="fromSelected">
        <ion-item class="modal-header-cont ion-no-padding" lines="none">
          <ion-label class="modal-title">To</ion-label>
        </ion-item>

        <ion-item class="ion-no-padding" lines="none" mode="ios"
          (click)="filteredStates.unshift('All'); selectedState=(selectedDropState ? selectedDropState : null);
          openState=true; locMode='dropState'">
          <ion-label position="stacked">Select State</ion-label>
          <ion-input placeholder="Select State" readonly="true" [value]="selectedDropState">
            <ion-icon slot="end" src="assets/icon/chevron-down.svg"></ion-icon>
          </ion-input>
        </ion-item>

        <div class="dead-location">
          <ion-item class="ion-no-padding" lines="none" mode="ios" (click)="filterCity('dropCity')">
            <ion-label position="stacked">Select City</ion-label>
            <ion-input placeholder="Select City" readonly="true" [value]="selectedDropCities">
              <ion-icon slot="end" src="assets/icon/chevron-down.svg"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none" mode="ios">
            <ion-label position="stacked">DH-D</ion-label>
            <ion-input type="number" formControlName="toDeadMiles"></ion-input>
          </ion-item>
        </div>
      </ng-container>


      <ion-item class="ion-no-padding" lines="none" mode="ios" (click)="openPickupDate=true;">
        <ion-label position="stacked">Pickup Start Date</ion-label>
          <ion-input type="text" readonly="true" formControlName="pickupDate">
            <ion-icon slot="end" src="assets/icon/calendar.svg"></ion-icon>
          </ion-input>
      </ion-item>
      <ion-modal class="datetimePicker" [isOpen]="openPickupDate" [backdropDismiss]="false">
        <ng-template>
          <div class="cal-wrapper">
            <ion-datetime #ionDatetime presentation="date" size="cover" [value]="selectedpickupDate"
              (ionChange)="setDatetime($event, 'min')" mode="ios"></ion-datetime>
            <div class="ion-text-right ion-padding-top">
              <ion-button fill="clear" class="hardware-tap" (click)="openPickupDate=false;">Cancel</ion-button>
              <ion-button fill="clear" (click)="patchDatetime('min')" [disabled]="!selectedpickupDate">Ok</ion-button>
            </div>
          </div>
        </ng-template>
      </ion-modal>

      <ion-item class="ion-no-padding" lines="none" mode="ios" (click)="openPickupEndDate=true;">
        <ion-label position="stacked">Pickup End Date</ion-label>
          <ion-input type="text" readonly="true" formControlName="pickupEndDate">
            <ion-icon slot="end" src="assets/icon/calendar.svg"></ion-icon>
          </ion-input>
      </ion-item>
      <ion-modal class="datetimePicker" [isOpen]="openPickupEndDate" [backdropDismiss]="false">
        <ng-template>
          <div class="cal-wrapper">
            <ion-datetime #ionDatetime presentation="date" size="cover" [value]="selectedpickupEndDate"
              (ionChange)="setDatetime($event, 'max')" mode="ios"></ion-datetime>
            <div class="ion-text-right ion-padding-top">
              <ion-button fill="clear" class="hardware-tap" (click)="openPickupEndDate=false;">Cancel</ion-button>
              <ion-button fill="clear" (click)="patchDatetime('max')" [disabled]="!selectedpickupEndDate">Ok</ion-button>
            </div>
          </div>
        </ng-template>
      </ion-modal>

      <ion-button class="ion-margin-vertical" expand="block" (click)="closeModal(true);">
        Submit
      </ion-button>
    </div>
  </form>
  </ng-template>
</ion-modal>

<!--Modal for State-->
<ion-modal class="state-list" [isOpen]="openState" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary" mode="md">
        <ion-title class="modal-title">Select State</ion-title>

        <ion-buttons slot="end">
          <ion-button class="hardware-tap" (click)="openState=false;
            (filteredStates[0] === 'All' ? filteredStates.shift() : null);">
            <ion-icon class="close-btn" slot="end" src="assets/icon/close-icon.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-toolbar color="secondary">
        <ion-searchbar placeholder="Search State" mode="ios" class="loc-search"
          (ionChange)="getfilteredStates($event)" (ionCancel)="resetStates()"></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-radio-group [value]="selectedState" (ionChange)="setStateCity($event, 'state');">
        <ion-item *ngFor="let state of filteredStates" lines="none">
          <ion-label>{{state}}</ion-label>
          <ion-radio slot="end" [value]="state" mode="md"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-content>

    <ion-footer>
      <ion-button class="ion-margin" expand="block" [disabled]="!selectedState" (click)="setLocation(); openState=false;">
        Continue
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>

<!--Modal for City-->
<ion-modal class="city-list" [isOpen]="openCity" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary" mode="md">
        <ion-title class="modal-title">Select City</ion-title>

        <ion-buttons slot="end">
          <ion-button class="hardware-tap" (click)="openCity=false;">
            <ion-icon class="close-btn" slot="end" src="assets/icon/close-icon.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-toolbar color="secondary">
        <ion-searchbar placeholder="Search City" mode="ios" class="loc-search"
          (ionChange)="getPlacesPredictions($event)" (ionCancel)="resetCities()"></ion-searchbar>

        <ion-chip *ngFor="let city of selectedCities">
          <ion-label>{{city}}</ion-label>
          <ion-icon name="close" (click)="removeCity(city)"></ion-icon>
        </ion-chip>
      </ion-toolbar>

    </ion-header>

    <ion-content>
      <!-- <cdk-virtual-scroll-viewport itemSize="40" [minBufferPx]="1000" [maxBufferPx]="1350"> -->
        <ion-item *ngFor="let city of filteredCities" lines="none" (click)="setCities(city.description)">
          <ion-label>{{city.description}}</ion-label>
          <!-- <ion-checkbox slot="end" [value]="city.city"
            [checked]="selectedCities.includes(city.city) ? true : false"
            mode="md"(ionChange)="setStateCity($event, 'city')">
          </ion-checkbox> -->
        </ion-item>
      <!-- </cdk-virtual-scroll-viewport> -->
    </ion-content>

    <ion-footer>
      <ion-button class="ion-margin" expand="block" [disabled]="!selectedCities.length"
        (click)="setLocation(); openCity=false;">
        Continue
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>
