ion-header {
  ion-toolbar.filter {
    --background: #305EBC;
    --color: #FFFFFF;

    ion-back-button, ion-button {
      --color: #FFFFFF;
    }
  }

  ion-toolbar.filter-info {
    div.cont {
      display: flex;
      justify-content: space-between;
      padding: 16px;

      div {
        flex: 1 1 auto;
      }

      div:first-child {
        border-right: 1px solid var(--ion-color-primary);
      }

      p, h3 {
        margin: 0;
        font-weight: 600;
      }

      p {
        color: var(--ion-color-primary);
      }
    }
  }
}

.header-cont {
  .header-cont-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 0;
    }
  }
}

.header-logo {
  position: relative;
  top: -136px;
  left: 0;
  right: 0;
  margin: 0 auto 16px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 18%);

  ion-icon {
    font-size: 36px;
  }

  a {
    position: absolute;
    bottom: -26px;
    width: 50vw;
    display: flex;
    font-weight: 600;
    text-decoration: underline;
    color: #1A47A2;
    justify-content: center;
  }
}

.fuel-list {
  position: relative;

  ion-card {
    display: flex;
  }

  div.thumbnail, img {
    width: 97px;
    display: flex;
  }

  img {
    object-fit: cover;
  }

  .card-content {
    flex: 1;

    p {
      color: #000000;
      font-size: 10pt;
      font-weight: 600;
      margin: 0;

      span {
        color: #0DAC86;
        font-size: 8pt;
      }
    }

    p span.truck-name, p span.model-year {
      color: #1A47A2;
      font-size: 12pt;
    }

    .price-tag {
      p {
        margin: 0;
        color: #757B8F;

        span {
          font-size: 14pt;
          color: #FD191A;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 20pt;
      }
    }
  }

  .card-action {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.headingCnt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px 1px 12px;
  font-weight: 600;
  color: black;
}

hr {
  background:#C1D6FF;
  margin-left: 8px;
  margin-right: 8px;
}

.middleCnt
{
  .origin {
    margin-right: 8px
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 12px;
  font-size: 16px;
  font-weight: 600;
  color: black;

  .divider {
    border: 1px dashed #0DAC86;
    flex: 1 1 auto;
  }
}

.footerCnt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background: #F0FFFB;

  div:first-child {
    display: flex;
    gap: 1rem;
  }

  div:last-child p {
    color: #FD191A;
    text-decoration: underline;
    line-height: 4px;
  }
}

.card-content ion-icon{
  padding-inline-end:5px
}

#btnProceed {
  --ion-color-base: #0DAC86 !important;

  ion-icon {
    font-size: 26pt;
  }
}

ion-button.report-btn {
  height: 48px;
  --background: #FD191A;
}

.tableHead ion-col{
  padding: 10px 0px;
  font-weight: 600;
}

.headerCnt{
  background: #EBF2FF;
  padding: 0;
}

ion-col{
  border: 1px solid #BED8FF;
}
