.thanksCard{
  padding: 35px;
  color: black;
  background: #f3f5fd;
  box-shadow: none;
}

.thanksCard ion-icon{
  font-size: 35px;
}

.thanksCard ion-icon{
  margin-top: 7px;
}

.thanksCard ion-icon{
  margin-top: 7px;
}

.thanksCard .ion-danger{
--background: #fd191a
}
