<!--Modal for Truck Filter-->
<ion-modal class="loc-select truck-filter" [isOpen]="openLocation" [initialBreakpoint]="modalInitialBr" [breakpoints]="[0.50, 1]"
 [backdropDismiss]="false" [handle]="false">
  <ng-template>
    <div class="modal-main-cont">
      <!--From State/City-->
      <ion-item class="modal-header-cont ion-no-padding" lines="none">
        <ion-label class="modal-title">Find Truck</ion-label>
        <ion-icon class="close-btn hardware-tap" slot="end" src="assets/icon/close-icon.svg" (click)="closeModal(false)">
        </ion-icon>
      </ion-item>

      <form [formGroup]="truckForm">
        <ion-item class="ion-no-padding" lines="none" mode="ios">
          <div class="model-year">
            <div (click)="openMinDatetime=true;">
              <ion-label position="stacked">Min Year</ion-label>
              <ion-input id="pickupDate" type="text" readonly="true" formControlName="minYear">
                <ion-icon slot="end" src="assets/icon/calendar.svg"></ion-icon>
              </ion-input>
            </div>
            <ion-icon class="year-divider" src="assets/icon/year-divider.svg"></ion-icon>
            <div (click)="openMaxDatetime=true;">
              <ion-label position="stacked">Max Year</ion-label>
              <ion-input id="pickupDate" type="text" readonly="true" formControlName="maxYear">
                <ion-icon slot="end" src="assets/icon/calendar.svg"></ion-icon>
              </ion-input>
            </div>
          </div>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('minYear').touched || truckForm.get('minYear').dirty) &&
          truckForm.get('minYear').hasError('required')">
          Model year is required
        </div>
        <ion-modal class="datetimePicker" [isOpen]="openMinDatetime" [backdropDismiss]="false">
          <ng-template>
            <div class="cal-wrapper">
              <ion-datetime #ionDatetime presentation="year" size="cover" [value]="selectedMinDatetime"
                (ionChange)="setDatetime($event, 'min')" mode="ios"></ion-datetime>
              <div class="ion-text-right ion-padding-top">
                <ion-button fill="clear" class="hardware-tap" (click)="openMinDatetime=false;">Cancel</ion-button>
                <ion-button fill="clear" (click)="patchDatetime('min')" [disabled]="!selectedMinDatetime">Ok</ion-button>
              </div>
            </div>
          </ng-template>
        </ion-modal>
        <ion-modal class="datetimePicker" [isOpen]="openMaxDatetime" [backdropDismiss]="false">
          <ng-template>
            <div class="cal-wrapper">
              <ion-datetime #ionDatetime presentation="year" size="cover" [value]="selectedMaxDatetime"
                (ionChange)="setDatetime($event, 'max')" mode="ios"></ion-datetime>
              <div class="ion-text-right ion-padding-top">
                <ion-button fill="clear" class="hardware-tap" (click)="openMaxDatetime=false;">Cancel</ion-button>
                <ion-button fill="clear" (click)="patchDatetime('max')" [disabled]="!selectedMaxDatetime">Ok</ion-button>
              </div>
            </div>
          </ng-template>
        </ion-modal>

        <ion-item class="ion-no-padding" lines="none" mode="ios">
          <ion-label position="stacked">Truck Make</ion-label>
          <ion-select formControlName="make">
            <ion-select-option value="Kenworth">Kenworth</ion-select-option>
            <ion-select-option value="Volvo">Volvo</ion-select-option>
            <ion-select-option value="Freightliner">Freightliner</ion-select-option>
            <ion-select-option value="Peter Build">Peter Build</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('make').touched || truckForm.get('make').dirty) &&
          truckForm.get('make').hasError('required')">
          Truck make is required
        </div>

       <!--  <ion-item class="ion-no-padding" lines="none" mode="ios">
          <ion-label position="stacked">Price</ion-label>
          <ion-input type="text" inputmode="numeric" maxlength="10" formControlName="price"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('price').touched || truckForm.get('price').dirty) &&
          truckForm.get('price').hasError('required')">
          Price is required
        </div> -->
      </form>

      <ng-container *ngIf="truckForm.valid">
        <ion-item class="ion-no-padding" lines="none" mode="ios"
          (click)="openState=true; filterState();">
          <ion-label position="stacked">Select State</ion-label>
          <ion-input placeholder="Select State" readonly="true" [value]="selectedState">
            <ion-icon slot="end" src="assets/icon/chevron-down.svg"></ion-icon>
          </ion-input>
        </ion-item>
        <!-- <ion-item class="ion-no-padding" lines="none" mode="ios" (click)="filterCity()">
          <ion-label position="stacked">Select City</ion-label>
          <ion-input placeholder="Select City" readonly="true" [value]="selectedCities">
            <ion-icon slot="end" src="assets/icon/chevron-down.svg"></ion-icon>
          </ion-input>
        </ion-item> -->
      </ng-container>
      <ion-button class="ion-margin-vertical" expand="block" (click)="closeModal(true);">
        Submit
      </ion-button>
    </div>
  </ng-template>
</ion-modal>


<!--Modal for State-->
<ion-modal class="state-list" [isOpen]="openState" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary" mode="md">
        <ion-title class="modal-title">Select State</ion-title>

        <ion-buttons slot="end">
          <ion-button class="hardware-tap" (click)="openState=false; clearStates();">
            <ion-icon class="close-btn" slot="end" src="assets/icon/close-icon.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-toolbar color="secondary">
        <ion-searchbar placeholder="Search State" mode="ios" class="loc-search"
          (ionChange)="getfilteredStates($event)" (ionCancel)="resetStates()"></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-item *ngFor="let state of filteredStates" lines="none">
        <ion-label>{{state}}</ion-label>
        <ion-checkbox slot="end" [value]="state"
          [checked]="selectedState.includes(state) ? true : false"
          mode="md"(ionChange)="setStateCity($event, 'state')">
        </ion-checkbox>
      </ion-item>
    </ion-content>

    <ion-footer>
      <ion-button class="ion-margin" expand="block" [disabled]="!selectedState" (click)="setTruck(); openState=false;">
        Continue
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>


<!--Modal for City-->
<ion-modal class="city-list" [isOpen]="openCity" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary" mode="md">
        <ion-title class="modal-title">Select City</ion-title>

        <ion-buttons slot="end">
          <ion-button class="hardware-tap" (click)="openCity=false;">
            <ion-icon class="close-btn" slot="end" src="assets/icon/close-icon.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-toolbar color="secondary">
        <ion-searchbar placeholder="Search City" mode="ios" class="loc-search"
          (ionChange)="getfilteredCities($event)" (ionCancel)="resetCities()"></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <cdk-virtual-scroll-viewport itemSize="40" [minBufferPx]="1000" [maxBufferPx]="1350">
        <ion-item *cdkVirtualFor="let city of filteredCities" lines="none">
          <ion-label>{{city.city}}</ion-label>
          <ion-checkbox slot="end" [value]="city.city"
            [checked]="selectedCities.includes(city.city) ? true : false"
            mode="md"(ionChange)="setStateCity($event, 'city')">
          </ion-checkbox>
          <!-- <ng-template #showCities>
            <ion-checkbox slot="end" [value]="city.city"
              [disabled]="selectedCities.includes('All') ? true : false"
              [checked]="selectedCities.includes(city.city) ? true : false"
              mode="md"(ionChange)="setStateCity($event, 'city')">
            </ion-checkbox>
          </ng-template> -->
        </ion-item>
      </cdk-virtual-scroll-viewport>
    </ion-content>

    <ion-footer>
      <ion-button class="ion-margin" expand="block" [disabled]="!selectedCities.length" (click)="openCity=false;">
        Continue
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>
