<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios">Back</ion-back-button>
    </ion-buttons>

    <ion-title>
      <ion-icon src="assets/icon/location-icon.svg"></ion-icon>
      <ng-container *ngIf="emergency.currentLocation; else noLoc">
        {{emergency.currentLocation}}
        <!-- <ion-icon src="assets/icon/chevron-down-light.svg"></ion-icon> -->
      </ng-container>
      <ng-template #noLoc>
        No Location...
      </ng-template>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navToNotifications()">
        <ion-icon slot="icon-only" src="assets/icon/bell-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="truckForm" (ngSubmit)="addTruck()" (keyup.enter)="addTruck(true)">
    <div class="header-cont">
      <div class="header-cont-area ion-padding">
        <h2 class="ion-padding-vertical">{{headTitle}}</h2>
      </div>
    </div>

    <div class="form-container">
      <div class="form-fields">
        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="min-scale">Miles Driven</ion-label>
          <ion-input type="text" inputmode="numeric" maxlength="10" formControlName="miles"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('miles').touched || truckForm.get('miles').dirty) &&
          truckForm.get('miles').hasError('required')">
          Miles Driven is required
        </div>

        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="min-scale">Make</ion-label>
          <ion-select formControlName="make">
            <ion-select-option value="Kenworth">Kenworth</ion-select-option>
            <ion-select-option value="Volvo">Volvo</ion-select-option>
            <ion-select-option value="Freightliner">Freightliner</ion-select-option>
            <ion-select-option value="Peter Build">Peter Build</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('make').touched || truckForm.get('make').dirty) &&
          truckForm.get('make').hasError('required')">
          Make is required
        </div>

        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="min-scale">Model</ion-label>
          <ion-input type="text" formControlName="model" maxlength="70"></ion-input>
          <!-- <ion-select formControlName="model">
            <ion-select-option value="Kenworth">Kenworth</ion-select-option>
            <ion-select-option value="Volvo">Volvo</ion-select-option>
            <ion-select-option value="Freightliner">Freightliner</ion-select-option>
            <ion-select-option value="Peter Build">Peter Build</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select> -->
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('model').touched || truckForm.get('model').dirty) &&
          truckForm.get('model').hasError('required')">
          Model is required
        </div>

        <ion-item class="ion-no-padding" (click)="openDatetime=true;">
          <ion-label position="floating" class="min-scale">Model Year</ion-label>
          <ion-input id="pickupDate" type="text" readonly="true" formControlName="year">
            <ion-icon slot="end" src="assets/icon/calendar.svg"></ion-icon>
          </ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('year').touched || truckForm.get('year').dirty) &&
          truckForm.get('year').hasError('required')">
          Model year is required
        </div>
        <ion-modal class="datetimePicker" [isOpen]="openDatetime" [backdropDismiss]="false">
          <ng-template>
            <div class="cal-wrapper">
              <ion-datetime #ionDatetime presentation="year" size="cover" [value]="selectedDatetime"
                (ionChange)="setDatetime($event)"></ion-datetime>
              <div class="ion-text-right ion-padding-top">
                <ion-button fill="clear" class="hardware-tap" (click)="openDatetime=false;">Cancel</ion-button>
                <ion-button fill="clear" (click)="patchDatetime()" [disabled]="!selectedDatetime">Ok</ion-button>
              </div>
            </div>
          </ng-template>
        </ion-modal>

        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="min-scale">Price</ion-label>
          <ion-input type="text" inputmode="decimal" maxlength="10" formControlName="price">
            <p class="price-dollar">&#65284;</p>
          </ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('price').touched || truckForm.get('price').dirty) &&
          truckForm.get('price').hasError('required')">
          Price is required
        </div>

        <ion-item class="ion-no-padding" (click)="openStateModal()">
          <ion-label position="floating" class="min-scale">State</ion-label>
          <ion-input type="text" formControlName="state" readonly="true"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('state').touched || truckForm.get('state').dirty) &&
          truckForm.get('state').hasError('required')">
          State is required
        </div>

        <ion-item class="ion-no-padding" (click)="truckForm.get('state').value?.length ? openCityModal(): ''">
          <ion-label position="floating" class="min-scale">City</ion-label>
          <ion-input type="text" formControlName="city" readonly="true"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('city').touched || truckForm.get('city').dirty) &&
          truckForm.get('city').hasError('required')">
          City is required
        </div>

        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="min-scale">Phone Number</ion-label>
          <ion-input type="text" inputmode="numeric" maxlength="10" formControlName="contactno"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('contactno').touched || truckForm.get('contactno').dirty) &&
          truckForm.get('contactno').hasError('required')">
          Phone number is required
        </div>

        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="min-scale">Comment</ion-label>
          <ion-input type="text" formControlName="comment" maxlength="200"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="(truckForm.get('comment').touched || truckForm.get('comment').dirty) &&
          truckForm.get('comment').hasError('required')">
          Comment is required
        </div>

        <div class="ion-margin-vertical photos">
          <div class="photo-cont" *ngFor="let img of selectedPhotos; index as i">
            <ion-button shape="round" fill="clear" class="remove" (click)="removePhoto(i)">
              <ion-icon src="assets/icon/close-icon-white.svg" slot="start"></ion-icon>
            </ion-button>
            <img [src]="img.src" alt="">
          </div>
        </div>
        <ion-button shape="round" fill="clear" class="ion-margin-vertical add-photos" (click)="addPhotos()">
          <ion-icon src="assets/icon/red-plus.svg" slot="start"></ion-icon>
          Add Photos
        </ion-button>

        <div class="ion-text-center form-btn">
          <ion-button type="submit" class="ion-text-capitalize" expand="block"
            [disabled]="truckForm.invalid || (!selectedPhotos.length && !truckId) || loading">
            <ion-spinner *ngIf="loading" color="secondary"></ion-spinner>
            <span *ngIf="!loading">Continue</span>
          </ion-button>
        </div>

      </div>
    </div>
  </form>
</ion-content>
