:host {
  .reg-container {
    .title {
      margin-top: 30px;
      font-weight: 600;
    }

    .reg-btn {
      margin: 30px 0;
    }

    .login-note span {
      text-decoration: underline;
    }
  }
}
